<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shijinglu.ecommerceresponsesystem.mapper.UserPasswordResetMapper">

    <resultMap id="BaseResultMap" type="com.shijinglu.ecommerceresponsesystem.entity.UserPasswordReset">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="resetToken" column="reset_token" />
            <result property="expireTime" column="expire_time" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,reset_token,expire_time,create_time
    </sql>
</mapper>
