<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shijinglu.ecommerceresponsesystem.Dao.UserMapper">

    <!--   账户余额扣减 -->
    <update id="deductBalance">
        UPDATE users
        SET balance = balance - #{amount}
        WHERE user_id = #{userId}
          AND balance >= #{amount}
    </update>

</mapper>